@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.activee {
  color: green;
}

/* ::selection {
  background-color: var(--mainColor);
  color: white;
}
 */

/* for Scroll */
/* ::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #cbfffb;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #026159;
}
.min-scrollbar::-webkit-scrollbar {
  width: 6px;
} */
